.btn-primary {
    color: #fff;
    background-color: #813AFE !important;
    border-color: #813AFE !important;
    width: 100%;
}

.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}

.space {
    margin-top: 100px;
}